body{
    background-color: rgba(248, 248, 248, 1);
}

.register{
    max-width: 1200px;
    margin: auto;
}

.register__title{
    margin-top: 70px;
}

.register-form{
    width: 100%;
}

.register-form-name{
    font-weight: 300;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.required{
    font-size: 12px;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(253, 7, 7, 1);
    padding: 5px;
    margin-left: 10px;
}

.register-form__input-name{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgba(224, 223, 222, 1);
    padding: 10px;
}

.register-form__input-value {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgba(224, 223, 222, 1);
    padding: 10px;
}

.register-form__input-image {
    height: 40px;
    color: transparent;
}

.register-form__input-image::file-selector-button {
    width: 50%;
    height: 40px;
}

.select{
    margin-left: 10px;
    font-size: 12px;
    color: rgba(253, 7, 7, 1);
}

.register-form__input-season{
    margin-top: 15px;
}

input[type="radio"] {
    transform: scale(1.5);
    margin: 5px;
}

label:nth-child(n+3){
    margin-left: 40px;
}

.register-form__input-explain {
    width: 100%;
    height: 160px;
    border-radius: 5px;
    border: 1px solid rgba(224, 223, 222, 1);
    padding: 10px;
}

.register-form__button{
    display: flex;
    justify-content: center;
    margin: 40px 0px;
    width: 100%;
    height: 50px;
}

.register-form__button-back{
    width: 15%;
    padding: 13px 10px;
    background-color: rgba(224, 223, 222, 1);
    border-radius: 5px;
    border: none;
    color: rgba(75, 75, 75, 1);
    margin-right: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    cursor: pointer;
}

.register-form__button-register {
    width: 15%;
    padding: 13px 10px;
    background-color: rgba(245, 200, 0, 1);
    border-radius: 5px;
    border: none;
    color: rgba(75, 75, 75, 1);
    margin-right: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    cursor: pointer;
}